body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  min-width: 100% !important;
  min-height: 100%;
  width:100vw;
  overflow-x:hidden;
}


.no-back {
  background: none !important;
  box-shadow: none !important
}

.tabs-back {
  /* background-color: darkcyan; */
  width: 100%;
  /* position: fixed !important; */
  z-index: 70000;
}

.main {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 96vw;
}

.main-left {
  height: 100%;
  border-radius: 12px;
  z-index: 700;
  color: #abb2bf;
  background: #282c34;
  padding: 20px;
}

.main-rigth {
  height: 100%;
  border-radius: 12px;
  z-index: 700;
  background: #282c34;
  position: relative;
}

.main-rigth_buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 0;
}
.main-rigth_buttons .q-icon {
  padding: 6px;
}
.main-rigth_buttons-btn {
  padding-bottom: 10px;
}

.external-input {
  padding: 10px 0 8px 0;
}

.external-input_servers-inp {
  padding: 0 0 8px 0;
}

.external-input_servers-btn {
 display: flex;
 align-items: center;
 flex-direction: column;
 padding: 10px;
}

.external-input_servers {
  border-right: 2mm ridge rgba(38, 166, 154, 0.6);

}
.external-input_servers-block {
  padding: 15px 0 0 0;
}

.hljs {
  min-height: 570px;
  border-radius: 10px;
  min-width: 550px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 16px;
  line-height: 1.4rem;
}

.theme-atom-one-dark pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

.theme-atom-one-dark code.hljs {
  padding: 3px 5px
}

.theme-atom-one-dark .hljs {
  color: #abb2bf;
  background: #282c34
}

.theme-atom-one-dark .hljs-comment,
.theme-atom-one-dark .hljs-quote {
  color: #5c6370;
  font-style: italic
}

.theme-atom-one-dark .hljs-doctag,
.theme-atom-one-dark .hljs-formula,
.theme-atom-one-dark .hljs-keyword {
  color: #c678dd
}

.theme-atom-one-dark .hljs-deletion,
.theme-atom-one-dark .hljs-name,
.theme-atom-one-dark .hljs-section,
.theme-atom-one-dark .hljs-selector-tag,
.theme-atom-one-dark .hljs-subst {
  color: #e06c75
}

.theme-atom-one-dark .hljs-literal {
  color: #56b6c2
}

.theme-atom-one-dark .hljs-addition,
.theme-atom-one-dark .hljs-attribute,
.theme-atom-one-dark .hljs-meta .hljs-string,
.theme-atom-one-dark .hljs-regexp,
.theme-atom-one-dark .hljs-string {
  color: #98c379
}

.theme-atom-one-dark .hljs-attr,
.theme-atom-one-dark .hljs-number,
.theme-atom-one-dark .hljs-selector-attr,
.theme-atom-one-dark .hljs-selector-class,
.theme-atom-one-dark .hljs-selector-pseudo,
.theme-atom-one-dark .hljs-template-variable,
.theme-atom-one-dark .hljs-type,
.theme-atom-one-dark .hljs-variable {
  color: #d19a66
}

.theme-atom-one-dark .hljs-bullet,
.theme-atom-one-dark .hljs-link,
.theme-atom-one-dark .hljs-meta,
.theme-atom-one-dark .hljs-selector-id,
.theme-atom-one-dark .hljs-symbol,
.theme-atom-one-dark .hljs-title {
  color: #61aeee
}

.theme-atom-one-dark .hljs-built_in,
.theme-atom-one-dark .hljs-class .hljs-title,
.theme-atom-one-dark .hljs-title.class_ {
  color: #e6c07b
}

.theme-atom-one-dark .hljs-emphasis {
  font-style: italic
}

.theme-atom-one-dark .hljs-strong {
  font-weight: 700
}

.theme-atom-one-dark .hljs-link {
  text-decoration: underline
}


body::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
  border: 4px solid rgba(0,0,0,0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

.q-tabs {
  width: 100vw;
}

.n-light {
  margin: 10px;
  margin-bottom: 0;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 20px;
  color: #495061;
  background: #eaf4fe;
  border: 1px solid #d4e8fd;
}

.success-alert {
  background-color: #EFE;
  border: 1px solid #DED;
  color: #9A9;
}

.notice-alert {
  background-color: #EFF;
  border: 1px solid #DEE;
  color: #9AA;
}


.warning {
  background-color: #FDF7DF;
  border: 1px solid #FEEC6F;
  color: #C9971C;
}

.error {
  background-color: #FEE;
  border: 1px solid #EDD;
  color: #A66;
}




.q-item__label--caption {
  position: absolute;
  right: 10%;
  color: aqua !important;
  font-size: 15px !important;
  margin: 0;
}

.servers-btn_delete {
  position: absolute;
  right: 4%;
  z-index: 999;
}


.q-tabs--dense .q-tab {
  min-height: 40px !important;
}

.q-tab__label {
  font-size: 17px !important;
  line-height: 1.715em;
  font-weight: 600 !important;
  text-transform: none !important;
}

.q-item__label {
  color: #d19a66;
}